<div class="main">
  <div class="inner">
    <div class="form__wrapper">
        <h3>投稿が完了しました。</h3>
        <a class="form__btn" href="/">トップページ</a>
        <a class="form__btn" href="/">投稿一覧</a>
    </div>
  </div>
</div>