<div class="main">
  <div class="inner">
    <div class="form__wrapper">
        <h3>投稿が完了しました。</h3>
        <%= link_to "トップページ", root_path, class: :nav__btn %>
        <%= link_to "投稿一覧", root_path, class: :nav__btn %>
    </div>
  </div>
</div>